html,body{
    height: 100%;
    font-size: 16px;
    font-family: 'Vollkorn', serif;
    background: url(../img/pattern.jpg) center center;
}


@font-face{
    font-family: 'Nunito-Regular';
    src: local('Nunito-Regular.ttf'), url('Nunito-Regular.ttf') format('truetype');
}

#cover{
    background: url(../img/glass.jpg) center;
    background-size: cover;
    color: indianred;
    height: 100%;
    margin: 0;
    text-align: center;
}

/* section cover */
#cover a i{
    margin: 0;
    padding-top: 2%;
}



.moto{
    padding-top: 18%;
    margin-right: 200px;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}



.subhead{
    margin-left: 16.5%;
    font-family: Nunito-Regular;
    padding-top: 0;
    margin-top: 0;
}

/* Buttons */

.btn-lg{
    background-color: rgba(0,0,0,0);
    font-family:Nunito-Regular;
    border-radius: 5px;
    border: 1px solid rgba(19,128,26,1);
    color: rgba(255, 255, 255, 0.6);
    transition: .7s;
}

.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active{
    background-color: rgba(19,128,26,.5);
    border: 1px solid rgba(0,0,0,0);
    transition: .5s;
}

.fa-arrow-down{
    margin-left: 540px;
    margin-top: 10px;
    font-size: 30px;
    color: seashell;
}

.parallax-btn{
    width: 20%;
    margin: 5% auto 0 auto;
    font-size: 95%;
    color: lemonchiffon;
}

/* Spans */
.bold-green{
    color:rgba(19,128,26,1);
}
.green-underline{
    color: chocolate;
    border-bottom: solid springgreen 3px;
}

.bold-orange{
    color: chocolate;
}

/* Navbar */
.btn-srch{
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(19,128,26,1);
    margin-left: 3px;
    color: rgba(19,128,26,1);
    transition: .7s;
}

.btn-srch:hover,
.btn-srch:focus,
.btn-srch:active{
    background-color: rgba(19,128,26,1);
    border: 1px solid rgba(0,0,0,0);
    color: black;
    transition: .5s;
}    

#main-nav li a{
    border-bottom: 1px  solid   rgba(19,128,26,0);
    transition: .5s;
}

#main-nav li a:hover{
    border-bottom: 1px  solid   rgba(19,128,26,1);
    transition: .5s;
}

/* Section Features */
/* Section Features */

#whyus{
    text-align: center;
}
.heading,
.under-heading{
    text-align: center;
    padding-left: 0;
    margin: 0;
}
.under-heading{
    padding-top: 1%;
    padding-bottom: 3%;
}

.section-features{
    padding: 5rem 0;
    background: url(../img/pattern.jpg) center center;
}

.square{
    text-align: center;
}
.square i{
    margin-top: 3rem;
    transition: .3s;
    margin-bottom: 0.6rem;
}
.square i:hover{
    color: rgba(19,128,26,1);
    transition: .3s;
}
.square p{
    font-family: Nunito-Regular;
    font-size: 1rem;
}
.green-hr{
    margin-bottom: 0.6rem;
    background-color: rgba(19,128,26,1);
    width: 5rem;
}


/* Section Footer */

.footer{
    background-color: #222;
}
.foot{
    text-align: center;
    padding-top: 3%;
}
.foot p{
    color: #888;
    font-size: 15px;
}

.social-link a:link,
.social-link a:visited{
    text-decoration: none;
    color: #888;
}


.fa-facebook{
    transition: 0.5s;
    
}

.fa-facebook:hover{
    color: #3b5998;
    transition: 0.5s;
}

.fa-chevron-up{
    color: #888;
    transition: 0.5s;

}
.fa-chevron-up:hover{
    color: rgba(19,128,26,1);
    transition: 0.5s;

}

/* Section Cards */
#section-cards{
    padding: 5% 0;
}
h2{
    text-align: center;
}
#section-cards p{
    padding-left: 10px;
}
.card h4{
    padding-top: 7%;
}
.card h6{
    padding-bottom: 7%;
}

.card p{
    padding-top: 6%;
} 
.card{
    margin-top:12%;
    padding-left: 5%;
    padding-bottom: 3%;
}

.card a{
    color: rgba(19,128,26,0.8);
    
    transition: 0.5s;


}
.card a:hover{
    color: rgba(19,128,26,1);
    transition: 0.5s;
}

.card img{
  
    margin-left: -5%;
    transition: 0.5s;
    height: 250px;
}

.card img:hover{
    transform: scale(0.95);
    transition: 0.5s;

}

#section-cards .col-sm-4{
    padding-left: 0;
    margin: 0;
    margin-top: 0;
}